@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Protest+Riot&family=Sedan+SC&display=swap');




.register{
    padding: 15px;
    background-color: #f1ecc3;
    width: 500px;
    /* height:750px ; */
    margin-left: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.register.dark{
    background-color: #0f0c0c;
}

.text{
    color: blue;
}

.horizontal{
    color: #ED9455;
    border: 1px solid ;
    margin-bottom: 20px;
}
.register h1{
    font-family: "Protest Riot", sans-serif;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #ED9455;
    margin-left: 30%;
}

.register.dark h1{
    color: #f97316;
}


.content{
    margin-left: 25px
}

.input h2{
    font-size: 18px;
    margin-bottom: 5px; 
    margin-top: 5px;  
}

.register.dark h2{
    color: white;
}

.register.dark h6{
    color: white;
}

.register.dark hr{
    color: #f97316;
}

.register.dark button:hover{
    background-color: #f97316;
}

.register.dark input{
    border: 1px solid #f97316;
}

.input input{
    width: 420px;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 5px;
    outline: none;
    border: 1px solid #ED9455 ;
}

.input p{
    color: red;
    font-size: 14px;
    padding: 1px;
    margin-left: 5px;
}

.input input::placeholder{
    padding-left: 10px;
}

button{
    background-color: #FFEC9E;
    border-radius: 20px;
    width: 70%;
    height: 35px;
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 40px;
}

button:hover{
    background-color: #ED9455;
    
}

hr{
    color: #ED9455;
    border: 1px solid ;
    margin-bottom: 30px;
}

h6{
    margin-top: 15px;
    text-align: center;
}